# virtual environments
conda
.venv
venv/
quadriga1/

# jupyter book build directory
_build

# local Python/Jupyter Notebook caches / save files
__pycache__
**/.ipynb_checkpoints

# macOS system files
**/.DS_Store

# VS Code local configuration etc.
.vscode
